
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
  }
  
li {
    border: 1px solid black;
    padding: 20px;
}

.classTest {
    border: 1px solid orange;
}