#lists li {
    display: inline;
    list-style-type: none;
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
    color: #0600E6;
}

a {
    text-decoration: none;
}

#lists {
    padding-top: 18px;
    text-align: center;
    background-color: #00CCFF;
    height: 50px;
    margin: 0;
}

body {
    margin: 0;
    background-color: #F8F8FE;
}

#forms {
    background-color: white;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    height: 300px;
}

.inputs {
    width: 85%;
    margin-left: 15px;
    border: transparent;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
    margin-top: 35px;
    font-size: 17px;
    outline: none;
}

#subButton {
    background-color: #0056ff;
    padding: 12px 24px 12px 24px;
    font-size: 18px;
    color: white;
    border: none;
    margin-left: 115px;
    cursor: pointer;

}