body {
  /* background-image: url('/CalculatorApp/mSPU63U.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: aliceblue;
}

#calculator {
  background-color: #555153;
  width: 350px;
  height: 450px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#white-space {
  margin-top: 10px;
  background-color: white;
  width: 350px;
  height: 150px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: white;
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 20px;
}

li:hover {
  cursor: pointer;
}

#grid-numbers {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  padding: 10px;
}
