
body {
    font-family: 'Arial', sans-serif;
    margin: 0px;
}

#dropdown-menu {
    position: relative;
    top: 7px;
}
#profile-icon {
    position: relative;
    top: 11px;
}
#navBar {
    text-align: right;
}
.list-element {
    padding-right: 13px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87); 
}

#google-image {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 300px;
}

#search-bar {
    display: block;
    margin: auto;
    width: 582px;
    border-radius: 3px;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
    outline: none;
    margin-top: 24px;

}
#search-bar:hover:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); 
    border-color: rgba(223, 225, 229, 0);
}

#voice-icon {
    
}
