body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    justify-content: center;
    background-color: #283548;
}

#grid-main {
    display: grid;
    grid-template-columns: 30% auto;
    column-gap: 50px;
    margin-left: 10%;
    margin-top: 5%;
}

#description {
    color: #8b8b99;
}

#flex-box {
    display: flex;
}

#black {
    background-color: #23211f;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    margin-right: 15px;
}

#red {
    background-color: #ca3d22;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    margin-right: 15px;

}

#blue {
    background-color: #565681;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    margin-right: 15px;

}

#pink {
    background-color: #8a5362;
    width: 70px;
    height: 50px;
    border-radius: 10px;
}

#black:hover {
    cursor: pointer;
}

#red:hover {
    cursor: pointer;
}

#blue:hover {
    cursor: pointer;
}

#pink:hover {
    cursor: pointer;
}

.two-button {
    background-color: #E1E0E1;
    padding: 13px;
    margin-right: 7px;
    outline: none;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    font-weight: bold;
}

.two-button:hover {
    cursor: pointer;
}

#buy {
    display: block;
    margin-top: 30px;
    padding: 15px;
    width: 130px;
    background-color: #F29920;
    box-shadow: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.show{
    display: block;
}

.hide{
    display: none;
}

#time-text {
    position: relative;
    bottom: 53%;
    left: 7%;
    text-align: center;
    color: white;
    font-size: 25px;
}
#heart-img {
    position: relative;
    bottom: 53%;
    left: 45%;
    text-align: center;
}
#heart-text {
    position: relative;
    bottom: 53%;
    left: 1%;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}